.nav {
  height: 50px;
  background: #5d5d5d;
  color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  z-index: 1;
}

.nav ul li a {
  margin: 5px 15px;
  z-index: 1;
}

.logo {
  height: 0 1em;
  margin-left: 0 rem;
}
