.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin-top: 0rem;
}

.grid h1 {
  padding-left: 1em;
  width: 100%;
}

.space {
  width: 45%;
  margin: 1rem;
}

.bigSpace{
  width:100%;
  margin: 0 4.5% 0;
}

.card {
  margin: 0.3rem 0.5rem 1.5rem;
  padding: 0.70rem;
  justify-content: left;
  color: inherit;
  background-color: rgba(88, 88, 88, 0.39);
  text-decoration: none;
  border: 1px hidden;
  transition: color 0.15s ease, border-color 0.15s ease;
  overflow: hidden;
}

.card:hover {
  background-color: gray;
}

@media (max-width: 500px){
  .grid {
    font-size: 4.6vw;
  }
  .space {
    width:90%;
    margin: 0 4.5% 2%;
  }
}